body {
	background-color: #fff; 
	color: #333;
	font-family: Arial, Verdana, Helvetica, sans-serif;
}

img {
	border: 0px;
}

body, p, td, th {
	font-size: 13px;
	line-height: 14px;
}

td.menu, td.menu_active {
	text-align: center;
	padding: 2px;
	background-color: #f0f0f0;
	font-weight: bold;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
}

td.menu a, td.menu_active a {
	color: #333333;
}

td.menu_active {
	font-weight: normal;
	background-color: #99CCFF;
	border-bottom: 1px solid #99CCFF;
}

td, th {
	border: 1px solid gray;
	padding: 5px;
}

a, a:visited {
	color: gray;
	text-decoration: none;
	padding: 2px;
}

a:hover {
	text-decoration: underline;
}

table {
	border: 1px solid gray;
	border-style: solid;
	padding-left: 15px;
	line-height: 30px;
	text-align: left;
	border-collapse: collapse;
}

table.searchbox {
	border: 0px;
	border-collapse: collapse;
}

table.searchbox tr td {
	padding: 5px;
}

div.logo {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid black;
	background-color: gray;
	margin: 0px;
}

div.logo img {
	margin-top: 5px;
	margin-left: 5px;
	float:left;
	margin-right: 20px;
}

div.logo h2 {
	font-style: italic;
	font-size: 2em;
}

div.content {
	position: absolute;
	top: 130px;
}

p.files a {
	text-decoration: underline;
	color: #333;
}

p.files a:hover {
	text-decoration: none;
}
